body {
    color: white;
    background-size: cover;
    background-image: url(Background\ no\ logo.png);
}

img {
    height: 10%;
    width: 10%;
    margin-left: 6.25%;
    margin-right: 6.25%;
}

img:hover{
    /*translate: 0% -5%;*/
    scale: 120%;
    overflow: hidden;
}

.img_container{
    position: absolute;
    display: inline;
    text-align: center;
}

h1{
    text-align: center;
    font-family: 'Anton', sans-serif;
    padding-bottom: 3%;
    text-shadow: 1px 1px 5px black;
}

html{
    height: 100%;
}
